.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    margin-bottom: 6rem;

    &__link:link,
    &__link:visited {
      font-size: 1.4rem;
      text-decoration: none;
      color: #fff;
      padding: 1.5rem;
      display: block;
      font-family: $font-display;
      transition: all 0.2s;
    }

    &__link:hover,
    &__link:active {
      background-color: rgba(#fff, 0.05);
      transform: translateY(-3px);
    }
  }
}

.copyright {
  color: $color-grey-light-2;
  font-size: 1.4rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
