.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 /-1;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.nav__btn {
  margin: 4rem auto 0;

  &,
  &::after,
  &::before {
    content: "";
    background-color: #fff;
    width: 4.5rem;
    height: 3px;
    border: 0;
    display: block;
  }

  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.2rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin: 3rem 3rem 0 auto;

    &::before {
      transform: translateY(-1.2rem);
    }
    &::after {
      transform: translateY(0.9rem);
    }
  }
}
